<header class="header">
  <div class="left">
    <h1>RomanosPapanikolaou</h1>
  </div>
  <div class="center">
    <h4>FRONT-END DEVELOPER</h4>
  </div>
  <div class="right">
    <nav>
      <ul>
        <li>
          <a routerLink="/" routerLinkActive="active" class="nav-link">Home</a>
        </li>
        <li>
          <a routerLink="/about" routerLinkActive="active" class="nav-link"
            >About</a
          >
        </li>
        <li>
          <a routerLink="/contact" routerLinkActive="active" class="nav-link"
            >Contact</a
          >
        </li>
        <li>
          <a appThemeToggle (click)="changeIcon()">
            <img width="25" height="25" [src]="iconSrc" alt="moon-symbol" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
