.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  z-index: 1000; /* Ensure it's above other content */
}

.header .left h1 {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

.header .center h4 {
  margin: 0;
  font-size: 18px;
  font-weight: 300;
}

.header .right nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header .right nav ul li {
  margin-right: 40px;
}

.header .right nav ul li:last-child {
  margin-right: 40px;
}

.header .right nav ul li a {
  text-decoration: none;
  font-size: 25px;
  font-weight: 300;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: var(--text-color);
  text-decoration: none;
}

.nav-link.active {
  color: orange;
  text-decoration: line-through orange 5px;
}
