.header {
  background-color: #000000;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.header .navbar {
  display: flex;
  justify-content: center;
}

.header .navbar ul {
  list-style-type: none;
  padding: 0;

  width: 100%; /* Set ul to use entire width of the navbar */

  display: flex;
  justify-content: center;
}

.header .navbar ul li {
  margin-right: 20px;
  width: 100%; /* Set ul to use entire width of the navbar */
}

.header .navbar ul li a {
  color: #fff;
  text-decoration: none;
}

.header .navbar ul li:last-child {
  margin-right: 0;
}
