<header class="header">
  <div class="left" class="animate__animated animate__rollIn">
    <h1>RomanosPapanikolaou</h1>
  </div>
  <div class="center" class="animate__animated animate__zoomInDown">
    <h4>FRONT-END DEVELOPER</h4>
  </div>
  <div class="right">
    <nav>
      <ul>
        <li>
          <a href="#home" class="nav-link" appActiveLink>Home</a>
        </li>
        <li>
          <a href="#about" class="nav-link" appActiveLink>About</a>
        </li>
        <li>
          <a href="#contact" class="nav-link" appActiveLink>Contact</a>
        </li>
        <li>
          <a appThemeToggle (click)="changeIcon()">
            <img
              class="animate__animated animate__shakeY"
              width="30"
              height="30"
              [src]="iconSrc"
              alt="moon-symbol"
            />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
