<header class="header">
  <div class="left">
    <h1>RomanosPapanikolaou</h1>
  </div>
  <div class="center">
    <h4>FRONT-END DEVELOPER</h4>
  </div>
  <div class="right">
    <nav>
      <ul>
        <li>
          <a href="#home" class="nav-link" appActiveLink>Home</a>
        </li>
        <li>
          <a href="#about" class="nav-link" appActiveLink>About</a>
        </li>
        <li>
          <a href="#contact" class="nav-link" appActiveLink>Contact</a>
        </li>
        <li>
          <a appThemeToggle (click)="changeIcon()">
            <img width="30" height="30" [src]="iconSrc" alt="moon-symbol" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>
