.about {
  padding: 50px;
  height: 100vh;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  padding-top: 100px;

  position: relative;
  font-size: 70px;
  text-align: right;
  text-decoration: line-through orange 5px;
}

.about--text {
  padding-top: 100px;
  text-align: left;
  font-size: 50px;
}
