.about {
  padding: 50px;
  height: 100vh;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  padding-top: 100px;

  position: relative;
  font-size: 70px;
  text-align: right;
  text-decoration: line-through orange 5px;
}

.about--text {
  padding-top: 100px;
  text-align: left;
  font-size: 70px;
}

.about-text2 {
  position: absolute;
  right: 0;
  top: 1700px;
  margin: 10px;
  font-size: 300px;
  color: var(--bg-color);
  -webkit-text-stroke: 1px var(--text-color);
  writing-mode: vertical-lr;
  text-orientation: mixed;
}
