.about {
  padding: 50px;
  height: 1200px;
}

.about-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 70px;
  text-align: right;
  text-decoration: line-through orange;
}

.about--text {
  text-align: left;
  font-size: 40px;
}
