<section class="about" id="about">
  <h1 class="who" appTypingEffect="WHO'S THIS?">WHO'S THIS ?</h1>

  <div class="about--text">
    <p>
      Hello, I'm
      <span class="animate__animated animate__rubberBand">Romanos</span> <br />
      a passionate frontend developer <br />
      with a flair for creating engaging web experiences. <br />
      I've honed my skills <br />
      in <span class="animate__animated animate__bounce">HTML</span>,
      <span class="animate__animated animate__bounce">CSS</span>, and
      <span class="animate__animated animate__bounce">JavaScript</span>,
      <br />
      and I'm always excited to explore new technologies!
    </p>
  </div>
  <!-- <div class="skills-header">
    <h3>Frontend</h3>
  </div>
  <div class="skills-list">
    <span>
      <img
        width="50"
        height="50"
        src="https://img.icons8.com/ios-filled/50/1A1A1A/html.png"
        alt="html"
      />
    </span>
    <span>
      <img
        width="50"
        height="50"
        src="https://img.icons8.com/ios-filled/50/1A1A1A/css.png"
        alt="css"
      />
    </span>
    <span>
      <img
        width="50"
        height="50"
        src="https://img.icons8.com/ios-filled/50/1A1A1A/js.png"
        alt="js"
      />
    </span>
    <span>
      <img
        width="50"
        height="50"
        src="https://img.icons8.com/ios-filled/50/1A1A1A/angularjs.png"
        alt="angularjs"
      />
    </span>
    <span
      ><img
        width="50"
        height="50"
        src="https://img.icons8.com/ios-glyphs/60/1A1A1A/react.png"
        alt="react"
    /></span>
  </div> -->
</section>
