.hero {
  height: 110vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
}

.left {
  margin-left: 800px;
  text-align: right;
  margin-top: 200px;
}

.right {
  text-align: left;
  margin-right: 800px;
}

.left h1,
.right h1 {
  font-size: 15rem;
  font-weight: 900;
}

.animate__animated.animate__lightSpeedInLeft {
  display: inline-block;

  animation: lightSpeedInLeft; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
}

.animate__animated.animate__lightSpeedInRight {
  display: inline-block;

  animation: lightSpeedInRight; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 4s; /* don't forget to set a duration! */
}
