.hero {
  background-color: #fff;
  color: #000;
  padding: 100px 20px;
  text-align: center;
}

.content {
  margin: 0 auto;
  max-width: fit-content;
}

h1 {
  font-size: 20em;
  margin-bottom: 20px;
}

.subTitle {
  font-size: 1em;
  text-align: left;
}
