.hero {
  height: 110vh;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 200px;
}

.left {
  margin-left: 800px;
  text-align: right;
  margin-top: 200px;
}

.right {
  text-align: left;
  margin-right: 800px;
}

.left h1,
.right h1 {
  font-size: 15rem;
  font-weight: 900;
}
