<section class="contact">
  <div class="contact-content">
    <h1>WANNA SEND ME A MESSAGE ?</h1>
    <div>
      <p>
        Just send me an <br />
        <a href="mailto:romanos.papanikolaou@gmail.com" class="social-link2"
          >EMAIL</a
        >
      </p>
    </div>
    <h1>OR CONTACT ME</h1>
  </div>

  <div>
    <a
      href="https://github.com/romanospapanikolaou"
      target="_blank"
      class="social-link"
      >GitHub</a
    >
    <a
      href="https://linkedin.com/in/romanos-papanikolaou"
      target="_blank"
      class="social-link"
      >LinkedIn</a
    >
    <a
      href="https://www.facebook.com/romanos.papanikolaou/"
      target="_blank"
      class="social-link"
      >Facebook</a
    >
    <a
      href="https://www.instagram.com/romanospapanikolaou/"
      target="_blank"
      class="social-link"
      >Instagram</a
    >
  </div>
</section>
