.contact {
  padding: 50px;
  margin: 0 auto;
  height: 1000px;
}

.contact-content {
  text-align: center;
}

h1 {
  position: relative;
  font-size: 70px;
  text-align: left;
}

h1::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: orange;
  transform: translateY(-80%);
}

p {
  text-align: left;
  font-size: 50px;
  padding-top: 100px;
}

.social-link2 {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  text-align: right;
  font-size: 80px;
}

.social-link {
  display: block;
  text-decoration: none;
  text-align: right;
  font-size: 80px;
}

.social-link:hover,
.social-link2:hover {
  color: orange;
  cursor: none;
}
