.contact {
  padding: 50px;
  margin: 0 auto;
  height: 80vh;
}

.contact-content {
  text-align: center;
}

h1 {
  position: relative;
  font-size: 70px;
  text-align: left;
  text-decoration: line-through orange 5px;
}

p,
a {
  text-align: right;
  font-size: 50px;
}

.social-link2 a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  font-size: 50px;
}

.social-link {
  display: block;
  text-decoration: none;
  text-align: left;
  font-size: 50px;
  width: 0;
}

.social-link:hover {
  color: orange;
  cursor: none;
}

.social-link:visited {
  cursor: none;
  color: var(--text-color);
}

.social-link:hover:visited {
  color: orange;
  cursor: none;
}

.email-link2 {
  text-decoration: none;
  display: block;
  text-align: right;
}
.email-link2:hover {
  color: orange;
  cursor: none;
}

.email-link2 {
  cursor: none;
  color: var(--text-color);
}
