<section class="contact">
  <div class="contact-content">
    <h1 appTypingEffect="WANNA SEND ME A MESSAGE ?">
      WANNA SEND ME A MESSAGE ?
    </h1>
    <div>
      <p>Just send me an <br /></p>
      <a
        href="mailto:romanos.papanikolaou@gmail.com"
        target="_blank"
        class="email-link2"
        >EMAIL</a
      >
    </div>
    <h1 class="contact-me" appTypingEffect="OR CONTACT ME">OR CONTACT ME</h1>
  </div>

  <div>
    <a
      href="https://github.com/romanospapanikolaou"
      appLinkHoverAnimation
      target="_blank"
      class="social-link"
      >GitHub</a
    >
    <a
      href="https://linkedin.com/in/romanos-papanikolaou"
      appLinkHoverAnimation
      target="_blank"
      class="social-link"
      >LinkedIn</a
    >
    <a
      href="https://www.facebook.com/romanos.papanikolaou/"
      appLinkHoverAnimation
      target="_blank"
      class="social-link"
      >Facebook</a
    >
    <a
      href="https://www.instagram.com/romanospapanikolaou/"
      appLinkHoverAnimation
      target="_blank"
      class="social-link"
      >Instagram</a
    >
  </div>
</section>
