<section class="contact">
  <div class="contact-content">
    <h1>WANNA SEND ME A MESSAGE ?</h1>
    <div>
      <p>
        Just send me an
        <a href="#" target="_blank" class="social-link2">EMAIL</a>
      </p>
    </div>
  </div>

  <div class="social-link">
    <a href="https://github.com" target="_blank" class="social-link">GitHub</a>
    <a href="https://linkedin.com" target="_blank" class="social-link"
      >LinkedIn</a
    >
    <a href="https://facebook.com" target="_blank" class="social-link"
      >Facebook</a
    >
    <a href="https://instagram.com" target="_blank" class="social-link"
      >Instagram</a
    >
  </div>
</section>
