.contact {
  padding: 50px;
  margin: 0 auto;
  height: 75vh;
}

.contact-content {
  text-align: center;
}

h1 {
  position: relative;
  font-size: 70px;
  text-align: left;
  text-decoration: line-through orange 5px;
}

p {
  padding: 20px;

  margin-top: 50px;
  text-align: left;
  font-size: 50px;
}

.social-link {
  padding: 20px;
  display: inline-table;
  text-decoration: none;
  font-size: 50px;
  width: 0;
}

.social-link:hover {
  color: orange;
  cursor: none;
}

.social-link:visited {
  cursor: none;
  color: var(--text-color);
}

.social-link:hover:visited {
  color: orange;
  cursor: none;
}

.email-link2 {
  padding: 20px;

  display: block;
  text-decoration: none;
  font-size: 50px;
  width: 0;
  left: 0;
}
.email-link2:hover {
  color: orange;
  cursor: none;
}

.email-link2 {
  cursor: none;
  color: var(--text-color);
}

.contact-me {
  display: block;
  padding-top: 20px;
  text-align: left;
  font-size: 70px;
}
