<section class="about">
  <h1>About Me</h1>

  <div class="skills-box">
    <p>
      Hello, I'm Romanos, a passionate frontend developer with a flair for
      creating engaging web experiences.
    </p>
    <p>
      I've honed my skills in HTML, CSS, and JavaScript, and I'm always excited
      to explore new technologies.
    </p>
    <p>
      My journey in web development is defined by a love for clean, responsive
      design and a commitment to user-centric solutions.
    </p>
  </div>
  <div class="skills-box">
    <div class="skills-header">
      <h3>Frontend</h3>
    </div>
    <div class="skills-list">
      <span>
        <img
          width="50"
          height="50"
          src="https://img.icons8.com/ios-filled/50/1A1A1A/html.png"
          alt="html"
        />
      </span>
      <span>
        <img
          width="50"
          height="50"
          src="https://img.icons8.com/ios-filled/50/1A1A1A/css.png"
          alt="css"
        />
      </span>
      <span>
        <img
          width="50"
          height="50"
          src="https://img.icons8.com/ios-filled/50/1A1A1A/js.png"
          alt="js"
        />
      </span>
      <span>
        <img
          width="50"
          height="50"
          src="https://img.icons8.com/ios-filled/50/1A1A1A/angularjs.png"
          alt="angularjs"
        />
      </span>
      <span
        ><img
          width="50"
          height="50"
          src="https://img.icons8.com/ios-glyphs/60/1A1A1A/react.png"
          alt="react"
      /></span>
    </div>
  </div>
</section>
