* {
  font-family: "Gluten", cursive;
  margin: 0;
  padding: 0;
}

/* Light Theme */
:root {
  --bg-color: #1f1f1f;
  --text-color: #ffffff;
}

/* Dark Theme */
.dark-theme {
  --bg-color: #f8f8f8;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
