* {
  font-family: "Gluten", cursive;
  margin: 0;
  padding: 0;
}

/* Light Theme */
:root {
  --bg-color: #1f1f1f;
  --text-color: #ffffff;
}

/* Dark Theme */
.dark-theme {
  --bg-color: #f6f6f6;
  --text-color: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Media Query for Tablets (768px) */
@media (min-width: 768px) and (max-width: 1300px) {
  /* hero */

  .left h1,
  .right h1 {
    font-size: 10rem !important;
  }

  .content {
    margin-left: 400px !important;
  }

  .content {
    margin-right: 400px !important;
  }
  /* header */
  .header .left h1 {
    font-size: larger !important;
  }

  .header .center h4 {
    display: none;
  }

  .header .right nav ul li a {
    font-size: larger !important;
  }

  .who {
    font-size: 50px !important;
  }
  /* about */
  .about--text {
    font-size: 40px !important;
  }
  /* contact */

  .social-link {
    font-size: 40px !important;
  }

  .email-link2 {
    font-size: 40px !important;
  }

  .contact-me {
    font-size: 50px !important;
  }
  .wanna {
    font-size: 50px !important;
  }
  .contact-text {
    font-size: 200px !important;
  }

  .about-text2 {
    font-size: 200px !important;
    top: 1400px !important;
  }
}

/* Media Query for Laptops/Desktops (1300px and above) */
@media (min-width: 1300px) {
}

/* Media Query for phones (768px) and smaller */
@media (min-width: 360px) and (max-width: 768px) {
  /* hero */

  .left h1,
  .right h1 {
    font-size: 8rem !important;
  }

  .content {
    margin-left: 10px !important;
    margin-top: 200px;
  }

  .content {
    margin-right: 30px !important;
  }

  /* header */
  .header .left h1 {
    font-size: larger !important;
    display: none;
  }

  .header .center h4 {
    display: none;
  }

  .header .right nav ul li a {
    font-size: large !important;
    padding: 0;
  }
  /* about */

  .who {
    font-size: 30px !important;
  }
  .about--text {
    font-size: 30px !important;
  }

  /* contact */

  .social-link {
    font-size: 20px !important;
    display: block !important;
  }

  .email-link2 {
    font-size: 20px !important;
  }

  .contact-me {
    font-size: 25px !important;
  }
  .wanna {
    font-size: 25px !important;
  }
  .just {
    font-size: 25px !important;
  }
}
