* {
  font-family: "Gluten", cursive;
  margin: 0;
  padding: 0;
}

/* Light Theme */
:root {
  --bg-color: #212529;
  --text-color: #f8f9fa;
}

/* Dark Theme */
.dark-theme {
  --bg-color: #f8f9fa;
  --text-color: #212529;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Media Query for Tablets (768px) */
@media (min-width: 768px) and (max-width: 1024px) {
  * {
    text-align: center;
  }

  /* hero */

  .left h1,
  .right h1 {
    font-size: 10rem !important;
  }

  .content {
    margin-left: 400px !important;
  }

  .content {
    margin-right: 400px !important;
  }
  /* header */
  .header .left h1 {
    font-size: large !important;
  }

  .animate__animated.animate__zoomInDown {
    animation: none !important;
  }

  .header .center h4,
  .animate__animated.animate__zoomInDown {
    display: none !important;
  }

  .header .right nav ul li a {
    font-size: larger !important;
  }

  /* about */
  .about--text {
    font-size: 40px !important;
  }
  .who {
    text-align: center !important;

    font-size: 50px !important;
  }
  /* contact */

  .social-link {
    text-align: center !important;
    display: flexbox !important;
    font-size: 40px !important;
  }

  .email-link2 {
    font-size: 40px !important;
  }

  .contact-me {
    text-align: center !important;

    font-size: 50px !important;
  }
  .wanna {
    text-align: center !important;
    font-size: 50px !important;
  }
  p {
    text-align: center !important;
  }
}

/* Media Query for Laptops/Desktops (1024px and above) */
@media (min-width: 1024px) {
}

/* Media Query for phones (768px) and smaller */
@media (min-width: 360px) and (max-width: 768px) {
  * {
    text-align: center;
  }
  /* hero */

  .left h1,
  .right h1 {
    font-size: 9rem !important;
  }

  /* .content {
    margin-left: 500px !important;
  }

  .content {
    margin-right: 500px !important;
  } */

  /* header */
  .header .left h1 {
    font-size: larger !important;
    display: none;
  }

  .animate__animated.animate__zoomInDown {
    animation: none !important;
  }

  .header .center h4,
  .animate__animated.animate__zoomInDown {
    display: none !important;
  }
  .header .center h4 {
    display: none;
  }

  .header .right nav ul li a {
    font-size: large !important;
    padding: 0;
  }
  /* about */

  .who {
    text-align: center !important;

    font-size: 30px !important;
  }
  .about--text {
    font-size: 30px !important;
  }

  /* contact */

  .social-link {
    font-size: 20px !important;
    display: flexbox !important;
    padding: 20px !important;
  }

  .email-link2 {
    font-size: 20px !important;
  }

  .contact-me {
    text-align: center !important;
    font-size: 25px !important;
  }
  .wanna {
    text-align: center !important;

    font-size: 25px !important;
  }
  .just {
    font-size: 25px !important;
  }
  p {
    text-align: center !important;
  }
}
